@model IEnumerable<TrabPrático.Models.Loja>

@{
    ViewData["Title"] = "Index";
}

<div style=" text-align: center; border-top: 20px solid transparent; border-bottom: 20px solid transparent">
    <img style=" width: 280px; height: 60px; object-fit:fill;" src="~/fotosjogos/logoLojas.png"
         title="Lista de Jogos" />
</div>
@if (User.IsInRole("Gestor")) { 
    <p>
    <a class="textoCor" style="margin-bottom: 10px" asp-action="Create">Adicionar Novo</a>
    </p>
}

<table class="table">
    <thead>
        <tr style="color: white">
            <th>
                <a style="color: white">Loja</a>
            </th>
            <th>
                <a style="color: white">Link</a>
            </th>
            <th>
                <a style="color: white">Site da Loja</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color: white">
                <a style="color: white"> @Html.DisplayFor(modelItem => item.Nome) </a>
            </td>
            <td>
                <a style="color: #64fcfc" href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Link)</a>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Link)">
                    <img src="~/fotoloja/@Html.DisplayFor(modelItem => item.ImagemLoja) "
                         width="150"
                         alt="Fotografia do @Html.DisplayFor(modelItem => item.Nome)"
                         title="@Html.DisplayFor(modelItem => item.Nome)" />
                </a>
            </td>
            <td>
            <a class="textoCor" asp-action="Details" asp-route-id="@item.IdLoja">Detalhes</a>
            @if (User.IsInRole("Gestor"))
            {
                <div>
                    <a class="textoCor" asp-action="Edit" asp-route-id="@item.IdLoja">Editar</a>
                    <a class="textoCor" asp-action="Delete" asp-route-id="@item.IdLoja">Eliminar</a>
                </div>  
            }
            </td>
        </tr>
}
    </tbody>
</table>
