@model TrabPrático.Models.Jogos

@{ ViewData["Title"] = "Details"; }

<div style=" text-align: center; border-top: 15px solid transparent">
    <img style=" width: 380px; height: 70px; object-fit:fill;" src="~/fotosjogos/logoDetalhes.png"
         title="Detalhes" />
</div>

<div>
    <hr style=" background-color: white" />
    <div>
        <img style="border: 4px solid black; object-fit:fill;
                     float:right" src="~/fotosjogos/@Html.DisplayFor(model => model.Imagem) "
             width="300"
             alt="Fotografia do @Html.DisplayFor(model => model.Nome)"
             title="@Html.DisplayFor(model => model.Nome)" />
    </div>
    <dl class="row">
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            <a>Categoria</a>
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.CategoriaIdade)
        </dd>
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Nota < 45)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                    @Html.DisplayFor(model => model.Nota)
                </div> }
            else if (Model.Nota >= 45 && Model.Nota < 75)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                    @Html.DisplayFor(model => model.Nota)
                </div> }
            else if (Model.Nota >= 75 && Model.Nota < 90)
            {
            <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                @Html.DisplayFor(model => model.Nota)
            </div> }
            else if (Model.Nota >= 90)
            {
            <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                @Html.DisplayFor(model => model.Nota)
            </div>            }
        </dd>
        <dt class="col-sm-2" style="color: white;">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        @*<dt class="col-sm-2" style="color: white">
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>*@

        <dt class="col-sm-2" style="object-fit: fill; color: white">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Media)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Media)
            </dd>*@

        <dt class="col-sm-2" style="object-fit: fill; color: white;border-top:20px solid transparent">
            Comentários:
        </dt>
        <div style="border-top:20px solid transparent; border-left:20px solid transparent">

            @foreach (var item in Model.JogosReview)
            {
                @if (@item.Visivel == true)
                {
                    <div>
                    <a style="color:#64fcfc">@item.Utilizador.Email</a> <br />
                    @if (@item.NotaReview < 45)
                    {
                        <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                            <a>@item.NotaReview</a> <br />
                        </div> }
                    else if (@item.NotaReview >= 45 && @item.NotaReview < 75)
                    {
                        <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                            <a>@item.NotaReview</a> <br />
                        </div> }
                    else if (@item.NotaReview >= 75 && @item.NotaReview < 90)
                    {
                        <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                            <a>@item.NotaReview</a> <br />
                        </div> }
                    else if (@item.NotaReview >= 90)
                    {
                        <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                            <a>@item.NotaReview</a> <br />
                        </div>}
                        <a style="color: white">@item.Comentario</a> <br />
                        <hr style=" background-color: white; width: 1000px" />
                    </div>
                    }
                 }
        </div>
    </dl>
</div>
@*@if (User.Identity.IsAuthenticated) {*@
@*<div>
        <form asp-action="CreateComentario">
            <input type="hidden" name="jogoId" value="@Model.IdJogo"/>
            <span>Nota: </span><input required type="number" name="rating" min="1" max="10" text-align="center" maxlength="2" placeholder="1 a 10"/><br /><br />
            <span>Comentário: </span><br />

            <textarea required name="comentario" style="resize:none; width:1100px; height:100px;"></textarea><br />
            <input type="submit" value="Add Comment" class="btn btn-primary"/>
        </form>
    </div>*@
@if (User.Identity.IsAuthenticated)
{
    <div>
    <form asp-action="CreateComment">
        <input type="hidden" name="jogoId" value="@Model.IdJogo" />
        <span style="color:white">Nota: </span><input required type="number" name="nota" min="1" max="100" text-align="center" maxlength="2" placeholder="1 a 100" /><br />
        <span style="color:white">Comentário:</span><br />
        <textarea required name="comentario" style="resize:none; width:1100px; height:100px;"></textarea><br />
        <input type="submit" value="Add Comment" class="btn btn-primary" />
    </form>
    </div>
 }
<div>
    @if (User.IsInRole("Gestor")){
       <a  class="textoCor" asp-action="Edit" asp-route-id="@Model.IdJogo">Editar</a>
       <a  class="textoCor" asp-action="Delete" asp-route-id="@Model.IdJogo">Eliminar</a>
     }
    <a class="textoCor" asp-action="Index">Voltar à lista</a>
</div>
