@model TrabPrático.Models.Jogos

@{ ViewData["Title"] = "Details"; }

<div style=" text-align: center; border-top: 15px solid transparent">
    <img style=" width: 380px; height: 70px; object-fit:fill;" src="~/fotosjogos/logoDetalhes.png"
         title="Detalhes" />
</div>

<div>
    <hr style=" background-color: white" />
    <div>
        <img style="border: 4px solid black; object-fit:fill;
                     float:right" src="~/fotosjogos/@Html.DisplayFor(model => model.Imagem) "
             width="300"
             alt="Fotografia do @Html.DisplayFor(model => model.Nome)"
             title="@Html.DisplayFor(model => model.Nome)" />
    </div>
    <dl class="row">
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            <a>Categoria</a>
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.CategoriaIdade)
        </dd>
        <dt class="col-sm-2" style="color: white">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Nota < 45)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                    @Html.DisplayFor(model => model.Nota)
                </div> }
            else if (Model.Nota >= 45 && Model.Nota < 75)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                    @Html.DisplayFor(model => model.Nota)
                </div> }
            else if (Model.Nota >= 75 && Model.Nota < 90)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                    @Html.DisplayFor(model => model.Nota)
                </div> }
            else if (Model.Nota >= 90)
            {
                <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                    @Html.DisplayFor(model => model.Nota)
                </div>}
        </dd>
        <dt class="col-sm-2" style="color: white;">
            <a>Lançamento</a>
        </dt>
        <dd class="col-sm-10" style="color: white">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt class="col-sm-2" style="object-fit: fill; color: white">
            <a style="color:white">Loja</a>
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            <a href="@Html.DisplayFor(model => model.LinkJogo)">
                <img src="~/fotoloja/@Html.DisplayFor(model => model.Loja.ImagemLoja) "
                     width="150"
                     alt="Fotografia do @Html.DisplayFor(model => model.Loja.Nome)"
                     title="@Html.DisplayFor(model => model.Loja.Nome)" />
            </a>
        </dd>
        @*<dt class="col-sm-2" style="color: white">
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>*@

        <dt class="col-sm-2" style="object-fit: fill; color: white">
            <a>Descrição</a>
        </dt>
        <dd class="col-sm-10" style="object-fit: fill; color: white">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
@*@if (User.Identity.IsAuthenticated) {*@
@*<div>
        <form asp-action="CreateComentario">
            <input type="hidden" name="jogoId" value="@Model.IdJogo"/>
            <span>Nota: </span><input required type="number" name="rating" min="1" max="10" text-align="center" maxlength="2" placeholder="1 a 10"/><br /><br />
            <span>Comentário: </span><br />

            <textarea required name="comentario" style="resize:none; width:1100px; height:100px;"></textarea><br />
            <input type="submit" value="Add Comment" class="btn btn-primary"/>
        </form>
    </div>*@



<div style="border-top: 50px solid transparent">

    @if (1 == 1)
    {
        int soma = 0;
        int media = 0;
        var result = ViewData.Model.JogosReview.Where(b => b.NotaReview != 0 && b.Jogo.IdJogo == Model.IdJogo);
        int num = ViewData.Model.JogosReview.Count(b => b.NotaReview != 0 && b.Jogo.IdJogo == Model.IdJogo);

        @if (result.Any())
        {
            foreach (var item in Model.JogosReview)
            {
                if (item.NotaReview != 0 && item.Jogo.IdJogo == Model.IdJogo)
                {
                    soma = soma + (int)item.NotaReview;
                }
            }
            media = soma / num;
            Model.Media = media;

            <div style="border-left:30px solid transparent">
                <dl class="row">
                    <dt>
                        <a style="color: white">Média:</a>
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill; color: #272727">
                        @if (Model.Media < 45)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                                <a>@Model.Media</a> <br />
                            </div>
                        }
                        else if (Model.Media >= 45 && Model.Media < 75)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                                <a>@Model.Media</a> <br />
                            </div>
                        }
                        else if (Model.Media >= 75 && Model.Media < 90)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                                <a>@Model.Media</a> <br />
                            </div>
                        }
                        else if (Model.Media >= 90)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                                <a>@Model.Media</a> <br />
                            </div>
                        }
                    </dd>
                </dl>
            </div>
        }
        else
        {
            <div style="border-left: 15px solid transparent; border-bottom: 15px solid transparent">
                <dt style="color: white">
                    Média:
                </dt>
                <a style="color:#64fcfc">Ninguém avaliou o jogo.</a>
            </div>
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (1 == 1)
        {
            int flag = 0;
            @foreach (var item in Model.JogosReview)
            {
                if (User.Identity.Name == item.Utilizador.Email)
                {
                    if (item.NotaReview != 0)
                    {
                        flag = 1;
                    }
                }
            }
            if (flag == 0)
            {
                <form asp-action="CreateRating">
                    <div style="border-top:20px solid transparent; border-left:15px solid transparent">
                        <input type="hidden" name="jogoId" value="@Model.IdJogo" />
                        <a style="color: white; font-weight: bold">Nota: </a><input required type="number" name="nota" min="1" max="100" text-align="center" maxlength="2" placeholder="1 a 100" /><br />
                        <div style="border-top: 10px solid transparent; border-bottom: 25px solid transparent">
                            <input type="submit" value="Adicionar nota" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            }
        }
    }

    @foreach (var item in Model.JogosReview)
    {
        if (@item.Utilizador.Email == User.Identity.Name && item.NotaReview != 0)
        {
            <div style="border-left:30px solid transparent; border-bottom:20px solid transparent">
                <dl class="row">
                    <dt>
                        <a style="color: white">A tua nota:</a>
                    </dt>
                    <dd class="col-sm-10" style="object-fit: fill; color: #272727">
                        @if (@item.NotaReview < 45)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                                <a>@item.NotaReview</a>
                            </div>
                        }
                        else if (@item.NotaReview >= 45 && @item.NotaReview < 75)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                                <a>@item.NotaReview</a>
                            </div>
                        }
                        else if (@item.NotaReview >= 75 && @item.NotaReview < 90)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                                <a>@item.NotaReview</a>
                            </div>
                        }
                        else if (@item.NotaReview >= 90)
                        {
                            <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                                <a>@item.NotaReview</a>
                            </div>
                        }
                    </dd>
                    <div>
                        <button class="btn btn-primary" style="height:35px; margin-right:10px" onclick="location.href = '@Url.Action("Edit","Reviews", new { id = item.IdReview})'">Editar</button>
                        <button class="btn btn-danger" style="height:35px; margin-right:10px" onclick="location.href = '@Url.Action("Delete","Reviews", new { id = item.IdReview})'">Eliminar</button>
                    </div>
                </dl>
            </div>
        }
    }

    @if (1 == 1)
    {
        var result = ViewData.Model.JogosReview.Where(b => b.Utilizador.Email != User.Identity.Name && b.NotaReview != 0);

        @if (result.Any())
        {
            <div>
                <dt class="col-sm-2" style="object-fit: fill; color: white; border-bottom: 15px solid transparent">
                    Outras avaliações:
                </dt>
                @foreach (var item in Model.JogosReview)
                {
                    @if (item.Utilizador.Email != User.Identity.Name && item.NotaReview != 0)
                    {
                        <div style="border-left: 35px solid transparent">
                            <dl class="row">
                                <a style="color:#64fcfc">@item.Utilizador.Email</a>
                                <dd class="col-sm-10" style="object-fit: fill; color: #272727">
                                    @if (@item.NotaReview < 45)
                                    {
                                        <div style="height: 24px; width: 35px; text-align: center; background-color: red">
                                            <a>@item.NotaReview</a> <br />
                                        </div>
                                    }
                                    else if (@item.NotaReview >= 45 && @item.NotaReview < 75)
                                    {
                                        <div style="height: 24px; width: 35px; text-align: center; background-color: yellow">
                                            <a>@item.NotaReview</a> <br />
                                        </div>
                                    }
                                    else if (@item.NotaReview >= 75 && @item.NotaReview < 90)
                                    {
                                        <div style="height: 24px; width: 35px; text-align: center; background-color: greenyellow">
                                            <a>@item.NotaReview</a> <br />
                                        </div>
                                    }
                                    else if (@item.NotaReview >= 90)
                                    {
                                        <div style="height: 24px; width: 35px; text-align: center; background-color: green">
                                            <a>@item.NotaReview</a> <br />
                                        </div>
                                    }
                                </dd>
                            </dl>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div style="border-bottom: 15px solid transparent">
                <dt class="col-sm-2" style="object-fit: fill; color: white;">
                    Outras avaliações:
                </dt>
                <a style="border-left: 15px solid transparent; color:#64fcfc">Ainda não existem avaliações de outros utilizadores.</a>
            </div>
        }
    }

    @if (1 == 1)
    {
        var result = ViewData.Model.JogosReview.Where(b => b.NotaReview == 0 && b.Visivel == true);

        @if (result.Any())
        {
            <dt class="col-sm-2" style="object-fit: fill; color: white;">
                Comentários:
            </dt>
            <div style="border-top:20px solid transparent; border-left:20px solid transparent">
                @foreach (var item in result)
                {
                    <div>
                        <a style="color:#64fcfc">@item.Utilizador.Email</a> <br />
                        <a style="color: white">@item.Comentario</a> <br />
                        @if (item.Utilizador.Email == User.Identity.Name || User.IsInRole("Gestor"))
                        {
                            <div style="border-top: 10px solid transparent">
                                <button class="btn btn-primary" style="height:35px; margin-right:10px" onclick="location.href = '@Url.Action("Edit","Reviews", new { id = item.IdReview})'">Editar</button>
                                <button class="btn btn-danger" style="height:35px; margin-right:10px" onclick="location.href = '@Url.Action("Delete","Reviews", new { id = item.IdReview})'">Eliminar</button>
                            </div>
                        }
                        <hr style="background-color: white; width: max" />
                    </div>
                }
            </div>
        }
        else
        {
            <dt class="col-sm-2" style="object-fit: fill; color: white;">
                Comentários:
            </dt>
            <a style="border-left: 15px solid transparent; color:#64fcfc">Ainda não existem comentários.</a>
        }
    }

    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="CreateComment" style="border-top:20px solid transparent; border-left:20px solid transparent; border-bottom: 10px solid transparent">
            <input type="hidden" name="jogoId" value="@Model.IdJogo" />
            <span style="color:white">Comentário:</span><br />
            <textarea required name="comentario" style="resize:none; width:1100px; height:100px;"></textarea><br />
            <input type="submit" value="Adicionar comentário" class="btn btn-primary" />
        </form>
    }

</div>

<div>
    @if (User.IsInRole("Gestor"))
    {
        <a class="textoCor" asp-action="Edit" asp-route-id="@Model.IdJogo">Editar</a>
        <a class="textoCor" asp-action="Delete" asp-route-id="@Model.IdJogo">Eliminar</a>
    }
    <a class="textoCor" asp-action="Index">Voltar à lista</a>
</div>
