@model TrabPrático.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jogo.IdJogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReview">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
