@model IEnumerable<TrabPrático.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:white">Index</h1>

<table class="table">
    <thead>
        <tr style="color: white">
            <th>
                <a>Jogo</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaReview )
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr style="color: white">
            <td>
                <div>
                    <img style=" object-fit:fill;" src="~/fotosjogos/@Html.DisplayFor(model => item.Jogo.Imagem)"
                         width="100"
                         alt="Fotografia do @Html.DisplayFor(model => item.Jogo.Nome)"
                         title="@Html.DisplayFor(model => item.Jogo.Nome)" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Email)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdReview">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReview">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdReview">Eliminar</a>
                </td>
        </tr>
    }
    </tbody>
</table>
